@charset "utf-8";

/* music list
--------------------------------------------*/
.no-js .toggle-button-box {vertical-align:top; height:auto; padding:5px;}
.no-js .toggle-button-box .more {display:none;}
.no-js .toggle-button-box .btn {vertical-align:top;}
.no-js .toggle-button-box .list {position:static; display:inline-block; margin:0;}
.no-js .music-list-wrap .head {position:static; margin-top:20px;}
.no-js .music-list-wrap .head .all-check {display:none;}
/*
     FILE ARCHIVED ON 11:34:00 Oct 03, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:39:45 Jul 09, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 118.926
  exclusion.robots: 0.126
  exclusion.robots.policy: 0.113
  cdx.remote: 0.081
  esindex: 0.01
  LoadShardBlock: 77.739 (3)
  PetaboxLoader3.datanode: 44.218 (4)
  PetaboxLoader3.resolve: 35.633
  load_resource: 37.583
*/